<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title>Zeal Sales 
            <% if params[:controller] == "sales" && params[:action] == "dashboard" %>
            | Dashboard   
            <% elsif params[:controller] == "sales" && params[:action] == "my_profile" %>
            | My Profile                          
            <% elsif params[:controller] == "contacts" %>
            | Contacts	
            <% elsif params[:controller] == "cases" %>
            | Cases	
            <% elsif params[:controller] == "tag" %>
            | Tags	
            <% elsif params[:controller] == "followuptypes" %>
            | Follow Up Types	
            <% elsif params[:controller] == "sales" && params[:action] != "dashboard" && params[:action] != "my_profile" %>
            | Sales People
            <% end %></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        
        <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%#= csrf_meta_tags %>
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
        <link href="/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
        <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
        <link href="/plugins/select2/select2.css" rel="stylesheet" type="text/css"/>
        <link href="/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="/plugins/jquery-tags-input/jquery.tagsinput.css" rel="stylesheet" type="text/css" />    
        
        <link href="/css/profile.css" rel="stylesheet" type="text/css"/>  
        <link href="/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css">
        <link href="/css/plugins.css" rel="stylesheet" type="text/css">
        <link href="/css/layout.css" rel="stylesheet" type="text/css">
        <link href="/css/default.css" rel="stylesheet" type="text/css" id="style_color">
        <link href="/css/custom.css" rel="stylesheet" type="text/css">
        <link href="/css/style_main.css" rel="stylesheet" type="text/css">   
        
        <script src="/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>        
        <script src="/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>        
        <link rel="shortcut icon" href="/favicon.ico"/>
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <!-- DOC: Apply "page-header-menu-fixed" class to set the mega menu fixed  -->
    <!-- DOC: Apply "page-header-top-fixed" class to set the top menu fixed  -->
    <body>
        <!-- BEGIN HEADER -->
        <div class="page-header">
            <!-- BEGIN HEADER TOP -->
            <div class="page-header-top">
                <div class="container-fluid">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a href="javascript:void(0);"><img src="/img/logo_zwt.png" alt="logo" class="logo-default"></a>
                    </div>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler"></a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <!-- BEGIN NOTIFICATION DROPDOWN -->
                            
                            <!-- END NOTIFICATION DROPDOWN -->
                            <!-- BEGIN TODO DROPDOWN -->
                            
                            <!-- END TODO DROPDOWN -->
                            <li class="droddown dropdown-separator">
                                <span class="separator"></span>
                            </li>

                            <!-- END INBOX DROPDOWN -->
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <li class="dropdown dropdown-user dropdown-dark">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img alt="" class="img-circle" src="/img/avatar9.jpg">
                                    <span class="username username-hide-mobile">Kavis Jash</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                        <a href="/my_profile">
                                            <i class="icon-user-following"></i> My Account </a>
                                    </li>
                                    <li>
                                        <a href="/followuptypes">
                                            <i class="icon-settings"></i>  Follow Up Types</a>
                                    </li>
                                    <li>
                                        <a href="/tag/index">
                                            <i class="icon-list"></i> List of all tags</a>
                                    </li>
                                    <li>
                                        <a href="/">
                                            <i class="icon-key"></i> Log Out </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
            </div>
            <!-- END HEADER TOP -->
            <!-- BEGIN HEADER MENU -->
            <div class="page-header-menu">
                <div class="container-fluid">
                    <!-- BEGIN MEGA MENU -->
                    <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                    <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                    <div class="hor-menu ">
                        <ul class="nav navbar-nav">
                        <% if params[:controller] == "sales" && params[:action] == "dashboard" %>
                            <li class="active">
                                <a href="/dashboard" class="tooltips" data-container="body" data-placement="bottom" data-html="true" data-original-title="Dashboard">Dashboard</a>
                            </li>
                        <% else %>
                            <li>
                                <a href="/dashboard" class="tooltips" data-container="body" data-placement="bottom" data-html="true" data-original-title="Dashboard">Dashboard</a>
                            </li>
                        <% end %>
                        <% if params[:controller] == "contacts" %>
                            <li class="active">
                                <a href="/contacts" class="tooltips" data-container="body" data-placement="bottom" data-html="true" data-original-title="Contact Detail">Contacts</a>
                            </li>
                        <% else %>
                            <li>
                                <a href="/contacts" class="tooltips" data-container="body" data-placement="bottom" data-html="true" data-original-title="Contact Detail">Contacts</a>
                            </li>
                        <% end %>
                        <% if params[:controller] == "cases" %>
                             <li class="active">
                                <a href="/cases" class="tooltips" data-container="body" data-placement="bottom" data-html="true" data-original-title="Cases Detail">Cases</a>
                            </li>
                            <% else %>
                                <li>
                                <a href="/cases" class="tooltips" data-container="body" data-placement="bottom" data-html="true" data-original-title="Cases Detail">Cases</a>
                                </li>
                                <% end %>

                        <% if params[:controller] == "sales" && params[:action] != "dashboard" %>
                            <li class="active">
                                <a href="/sales" class="tooltips" data-container="body" data-placement="bottom" data-html="true" data-original-title="List of all sales people">Sales People</a>
                            </li>
                        <% else %>
                            <li> 
                                <a href="/sales" class="tooltips" data-container="body" data-placement="bottom" data-html="true" data-original-title="List of all sales people">Sales People</a>
                            </li>
                        <% end %>
                        </ul>
                    </div>
                    <!-- END MEGA MENU -->
                    
                    <form method="GET" action="/search" class="search-form">
        				<div class="input-group">
        					<input type="text" name="query" placeholder="Search" class="form-control" />
        					<span class="input-group-btn">
        					<a class="btn submit" href="javascript:;"><i class="icon-magnifier"></i></a>
        					</span>
        				</div>
        			</form>
                </div>
            </div>
            <!-- END HEADER MENU -->
        </div>
        <!-- END HEADER -->
        <%= yield %>

        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="container-fluid">
                2015 &copy; ZEAL SALES. All Rights Reserved.
                <a href="#" class="pull-right">Support</a>
            </div>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
        <!-- END FOOTER -->
        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <script src="/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>        
        <script src="/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>        
        <script src="/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>        
        <script src="/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/plugins/select2/select2.min.js" type="text/javascript"></script>        
        <script src="/js/metronic.js" type="text/javascript"></script>
        <script src="/js/layout.js" type="text/javascript"></script>
        <script src="/js/form-validation.js"></script>
                
        <script>
            jQuery(document).ready(function() {       
                // initiate layout and plugins
                Metronic.init(); // init metronic core components
                Layout.init(); // init current layout
                Demo.init(); // init demo features\
                FormValidation.init();
            });
        </script>
    </body>
    <!-- END BODY -->
</html>